@font-face {
    font-family: "Raleway";
  src: local("Raleway Regular"),
    local("Raleway-Regular"),
    url("Raleway-Regular.woff2") format("woff2"),
    url("Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
    font-family: "Raleway";
  src: local("Raleway ExtraBold"),
    local("Raleway-ExtraBold"),
    url("Raleway-ExtraBold.woff2") format("woff2"),
    url("Raleway-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}