
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    min-width: 800px;
    height: inherit;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    opacity: 0.3;
    background-color: #fff;
}
